<footer class="top-foo wow fadeInUp animated" data-wow-duration="1.0s">
    <div id="footer-js">
        <div class="footer-top">
            <div class="container">
                <div class="row mt20">
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="mt20">
                                <img src="/images/vifa-box.png" alt="" width="50px">
                                <div class="logo_text" style="display: inline-grid;
                                vertical-align: middle;margin-left: 10px">
                                    <p class="logo_tit"><%= __('Powered') %> </p>
                                    <p class="logo_tit"> <%= __('by VIFApay') %></p>
                                </div>
                                <p class="logo_cnt">
                                    <%= __('VIFApay is a blockchain payment gateway allowing merchants to accept Bitcoin, Ethereum, Litecoin, Bitcoin Cash, USDT, and Dash for any online businesses') %>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 border-left">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="widget">
                                    <h3><%= __('Business') %><span class="bottom-lin"></span></h3>
                                    <ul>

                                        <li>
                                            <a href="http://business.vifaotc.com" class="btn btn-light"
                                                target="_blank"><%= __('Login') %></a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget">
                                    <h3>Trader</h3>
                                    <ul>
                                        <li><a href="http://seller.vifaotc.com" target="_blank"
                                                class="btn btn-light"><%= __('Login') %></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget">
                                    <h3><%= __('Partners') %></h3>
                                    <ul>
                                        <li>
                                            <a href="http://agent.vifaotc.com" target="_blank"
                                                class="btn btn-light"><%= __('Login') %></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget">
                                    <h3><%= __('Company') %></h3>
                                    <ul>
                                        <li>
                                            <a href="/about"><%= __('About') %></a>
                                        </li>
                                        <li>
                                            <a href="/partner-program"><%= __('Partner Program') %></a>
                                        </li>
                                        <li>
                                            <a href="/privacy"><%= __('Privacy') %></a>
                                        </li>
                                        <li>
                                            <a href="/terms"><%= __('Terms') %></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="foo-bot wow fadeInUp animated" data-wow-duration="1.0s">
    <div class="footer-bottom">
        <div class="">
            <img src="images/vifa-square.png" alt="">
            <span class="text-white ml-3">© 2020 VIFApay,Inc.<a href="#"></a></span>
            <div class="follow_us">
                <span class="text-white mr-3">Follow Us On</span>
                <ul class="foot_media">
                    <li><a href="#" target="_blank">
                            <i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank">
                            <i class="fa fa-telegram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>

<script>
    // TweenMax.from(".navbar", 1, {
    //     delay: 0.4,
    //     y: 10,
    //     opacity: 0,
    //     ease: Expo.easeInOut
    // });

    // TweenMax.staggerFrom(".menu li a", 1, {
    //     delay: 0.4,
    //     opacity: 0,
    //     ease: Expo.easeInOut
    // }, 0.1);

    new WOW().init();
</script>