<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/about.css">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js"></script>
</head>

<body>
    <%- include ('./partials/header') %>
    <main data-v-10e5886e="" class="el-main">
        <section data-v-56d2c599="" data-v-10e5886e="" class="app-main">
            <ul data-v-c0d1e546="" data-v-56d2c599="" class="about cGray9">
                <li data-v-c0d1e546="" class="title wow fadeInUp animated" data-wow-duration="1.0s">
                    <div data-v-c0d1e546="">
                        <h1 data-v-c0d1e546=""><%- __('<span>Leader in </span>Cryptocurrency Payment') %></h1>
                        <h2 data-v-c0d1e546=""><%- __('The Most Perfect Cryptocurrency C2C Payment Solution') %></h2>
                    </div>
                </li>
                <li data-v-c0d1e546="" class="wow fadeInUp animated" data-wow-duration="1.0s">
                    <div data-v-c0d1e546="" class="about-intro">
                        <div data-v-c0d1e546="" class="left">
                            <h2 data-v-c0d1e546="" class="marginB25"><%- __('About VIFApay') %></h2>
                            <div data-v-c0d1e546="">
                                <p data-v-c0d1e546="" class="marginB35">
                                    <%- __('Founded in early 2018, VIFApay, one of the sub-brand of Vins Global Fintech. is the first service provider of C2C payment solution of cryptocurrency world wide.Currently, VIFApay serves more than 20 countries and regions around the world. VIFApay supports in payment and settlement of various cryptocurrencies. VIFApay offline settlement scale has exceeded USD 20 million per day and the amount continues to grow rapidly') %>.
                                </p>
                                <p data-v-c0d1e546="" class="marginB35">
                                    <%- __('The team consists of top talents from the international Internet and financial industries,who have rich experience in technology development and operations in the field of blockchain and traditional finance') %>.
                                </p>
                                <p data-v-c0d1e546="" class="marginB35">
                                    <%- __('VIFApay works with leaders in the global blockchain field and is dedicated to creating a global cryptocurrency payment ecosystem') %>.
                                </p>
                            </div>
                        </div>
                        <div data-v-c0d1e546="" class="right"><img data-v-c0d1e546="" src="images/about.3b64b09.png"
                                class="about-image"></div>
                    </div>
                </li>
                <li data-v-c0d1e546="" class="wow fadeInUp animated" data-wow-duration="1.0s">
                    <div data-v-c0d1e546="">
                        <h2 data-v-c0d1e546="" class="marginB55"><%- __('Partners') %></h2>
                        <div data-v-c0d1e546="" class="merchantLogo">
                            <div data-v-c0d1e546="" style="background-image: url('/images/lionhash-logo.png');"></div>
                            <div data-v-c0d1e546="" style="background-image: url('/images/panda.jpg');"></div>
                            <div data-v-c0d1e546="" style="background-image: url('/images/vgf-logo.png');"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </main>
    <%- include ('./partials/footer') %>

    <script>
        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });


        // Slide 2

    </script>
</body>

</html>