<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.js"></script>
    <script src="/js/main.js"></script>
    <script>
        particlesJS.load('particles-js', '/particles/particles.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
</head>

<body>
    <%- include ('./partials/header') %>
    <div id="particles-js">
        <div class="container-fluid carousel slide">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="slider-content">
                        <h2 class="animated bounceInLeft">
                            <%= __('Get Started with Blockchain Payments Today') %>
                        </h2>
                        <h3 class="animated bounceInLeft">
                            <%= __('We put the power in your hands to buy, sell crypto, and accept cryptocurrencies as payments easily with ViFaPay') %>.
                        </h3>
                        <div class="buttons animated bounceInRight">
                            <a href="#" class="btn btn-outline-primary btn-lg mr-3"
                                target="_blank"><%= __('Live Demo') %></a>
                            <a href="#" class="btn btn-outline-info btn-lg" target="_blank"><%= __('Get Started') %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="first-area team-area section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading2">
                        <h2 class="wow fadeInUp animated" data-wow-duration="1.0s"
                            style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <%= __('How Does VIFApay Payment Works') %></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="team-list wow fadeInUp  animated" data-wow-duration="1.3s"
                        style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                        <div class="conte">
                            <div class="conte-img">

                                <img src="<%= lang === 'cn' ? '/images/graphic_leftimg.257.png' :'/images/workflow_en.png' %>"
                                    alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="first-area video-area section">
        <div class="container">
            <div class="row mt20">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dizpay_itme wow fadeInUp  animated" data-wow-duration="1.6s"
                        style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                        <div class="box-with-icon text-center">
                            <div class="bwi-inner">
                                <div class="bwi-icon">
                                    <i class="fa fa-hospital-o"></i>
                                </div>
                                <h3 class="bwi-title"><%= __('Receive') %></h3>
                                <p class="bwi-text"><%= __('Blockchain payments from customers around the world') %>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dizpay_itme wow fadeInUp  animated" data-wow-duration="1.9s"
                        style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                        <div class="box-with-icon text-center">
                            <div class="bwi-inner">
                                <div class="bwi-icon">
                                    <i class="fa fa-send-o"></i>
                                </div>
                                <h3 class="bwi-title"><%= __('Send') %></h3>
                                <p class="bwi-text">
                                    <%= __('Payments from your merchant account to any number of accounts and keep a detailed record of each transaction') %>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="dizpay_itme wow fadeInUp  animated" data-wow-duration="2.1s"
                        style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                        <div class="box-with-icon text-center">
                            <div class="bwi-inner">
                                <div class="bwi-icon">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <h3 class="bwi-title"><%= __('Automate') %></h3>
                                <p class="bwi-text">
                                    <%= __('Payments from tedious individual payments to a single one-click payment') %>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sud ">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 1920 181.1" style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
            <style type="text/css">
                .st1 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #2c2e53;
                }
            </style>
            <g>
                <path class="st1" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z"></path>
            </g>
        </svg>
    </div>
    <div section-scroll="features" class="wd_scroll_wrap" id="Features">
        <section class="features-area projects section">
            <div id="features-js">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="section-heading2 wow fadeInUp  animated" data-wow-duration="1.0s"
                                style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                                <h2><%= __('Features') %></h2>
                                <p class="token-con">
                                    <%- __('VIFApay provides businesses with a secure, seamless, and cost-effective method to accept, send, and automate cryptocurrency payments') %>.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="project-list wow fadeInUp  animated" data-wow-duration="1.3s"
                                style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                <div class="content">
                                    <span class="icons"><img src="images/feartrue1.6a7.png" alt=""></span>
                                    <h3><%= __('Easy Implementation') %></h3>
                                    <p class="featured_smalltit">
                                        <%- __('Express setup gets you up-and-running in minutes.Customize it with our easy API and docs') %>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="project-list wow fadeInUp  animated" data-wow-duration="1.6s"
                                style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                                <div class="content">
                                    <span class="icons"><img src="images/feartrue2.237.png" alt=""></span>
                                    <h3><%= __('Fast, Cheap, Zero Fraud') %></h3>
                                    <p class="featured_smalltit">
                                        <%- __('Crypto Payments are quicker, cost-effective, and guarantee no chargebacks') %>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="project-list wow fadeInUp  animated" data-wow-duration="1.9s"
                                style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                                <div class="content">
                                    <span class="icons"><img src="images/feartrue3.ad3.png" alt=""></span>
                                    <h3><%= __('Transparent Fees') %></h3>
                                    <p class="featured_smalltit">
                                        <%= __('Transparent blockchain network ensures there are never any inscription, recurring, or hidden fees') %>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="project-list wow fadeInUp  animated" data-wow-duration="2.1s"
                                style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                                <div class="content">
                                    <span class="icons"><img src="images/feartrue4.83b.png" alt=""></span>
                                    <h3><%= __('Private and Secure') %></h3>
                                    <p class="featured_smalltit">
                                        <%= __('Cryptocurrencies offer the highest privacy and security for both customer and merchant') %>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="project-list wow fadeInUp  animated" data-wow-duration="2.2s"
                                style="visibility: visible; animation-duration: 2.2s; animation-name: fadeInUp;">
                                <div class="content">
                                    <span class="icons"><img src="images/feartrue5.38e.png" alt=""></span>
                                    <h3><%= __('Global') %></h3>
                                    <p class="featured_smalltit">
                                        <%= __('Run your business from anywhere in the world and gain access to a global customer base by accepting borderless crypto payments') %>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="project-list wow fadeInUp  animated" data-wow-duration="2.3s"
                                style="visibility: visible; animation-duration: 2.3s; animation-name: fadeInUp;">
                                <div class="content">
                                    <span class="icons"><img src="images/feartrue6.533.png" alt=""></span>
                                    <h3><%= __('Constantly Improving') %></h3>
                                    <p class="featured_smalltit">
                                        <%= __('Our engineer team is constantly working on improving the payment platform to help you run your business') %>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wd_scroll_wrap" id="Pricing">
        <section class="steps-area section bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-heading wow fadeInUp  animated" data-wow-duration="1.0s"
                            style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <h2><%- __('The fees charged only after receiving customer’s payment') %>.</h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="Compare_web">
                            <div class="Compares_nav d-flex justify-content-between loaded">
                                <button tabindex="0" class="Compares_btn Compares_btn--selected wow fadeInUp  animated"
                                    data-wow-duration="1.0s" data-value="5"
                                    style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                                    <div class="Compares_btn_icon">
                                        <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/price/1.88b.png"
                                            alt="USDT">
                                    </div>
                                    <div class="Compares_btn_title">USDT</div>
                                </button>
                                <button tabindex="0" class="Compares_btn wow fadeInUp  animated"
                                    data-wow-duration="1.3s" data-value="0.001"
                                    style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                    <div class="Compares_btn_icon">
                                        <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/price/2.a2a.png"
                                            alt="Bitcoin">
                                    </div>
                                    <div class="Compares_btn_title">Bitcoin</div>
                                </button>
                                <button tabindex="0" class="Compares_btn wow fadeInUp  animated"
                                    data-wow-duration="1.6s" data-value="0.005"
                                    style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                                    <div class="Compares_btn_icon">
                                        <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/price/3.658.png"
                                            alt="Ethereum">
                                    </div>
                                    <div class="Compares_btn_title">Ethereum</div>
                                </button>
                                <button tabindex="0" class="Compares_btn wow fadeInUp  animated"
                                    data-wow-duration="1.9s" data-value="0.001"
                                    style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                                    <div class="Compares_btn_icon">
                                        <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/price/4.fb0.png"
                                            alt="Litecoin">
                                    </div>
                                    <div class="Compares_btn_title">Litecoin</div>
                                </button>
                                <button tabindex="0" class="Compares_btn wow fadeInUp  animated"
                                    data-wow-duration="2.1s" data-value="0.002"
                                    style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                                    <div class="Compares_btn_icon">
                                        <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/price/6.0b7.png"
                                            alt="Dash">
                                    </div>
                                    <div class="Compares_btn_title">Dash</div>
                                </button>
                                <button tabindex="0" class="Compares_btn wow fadeInUp  animated"
                                    data-wow-duration="2.4s" data-value="5"
                                    style="visibility: visible; animation-duration: 2.4s; animation-name: fadeInUp;">
                                    <div class="Compares_btn_icon">
                                        <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/icons/7.936.png"
                                            alt="GUSD">
                                    </div>
                                    <div class="Compares_btn_title">GUSD</div>
                                </button>
                                <button tabindex="0"
                                    class="Compares_btn Compares_btn--disabled Compares_btn--more wow fadeInUp  animated"
                                    data-wow-duration="2.7s"
                                    style="visibility: visible; animation-duration: 2.7s; animation-name: fadeInUp;">
                                    <div class="Compares_btn_icon mt15">
                                        <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/price/8.265.png"
                                            alt="11+ Others">
                                        <div class="Compares_btn_tooltip"><%= __('Coming soon') %></div>
                                    </div>
                                    <div class="Compares_btn_title">100+ Tokens</div>
                                    <div class="Compares_btn_helper">Q1/19</div>
                                </button>
                            </div>
                        </div>
                        <div class="Compares_fee flex-box flex-align-center wow fadeInUp  animated justify-content-between"
                            data-wow-duration="1.3s"
                            style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                            <div class="Compares_fee_item">
                                <div class="Compares_fee_icon">
                                    <div class="Compares_fee_icon_value">2.5%</div>
                                    <!-- <div class="Compares_fee_icon_helper">USD</div> -->
                                </div>
                                <div class="Compares_fee_item_title"><%= __('VIFApay FEE') %></div>
                                <div class="Compares_fee_item_helper"><%= __('Deposit Pricing') %></div>
                            </div>
                            <div class="Compares_fee_plus">
                                <svg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M19.5 12.5v-9a3.5 3.5 0 1 0-7 0v9h-9a3.5 3.5 0 1 0 0 7h9v9a3.5 3.5 0 1 0 7 0v-9h9a3.5 3.5 0 0 0 0-7z">
                                    </path>
                                </svg>
                            </div>
                            <div class="Compares_fee_item">
                                <div class="Compares_fee_icon">
                                    <div class="Compares_fee_icon_value"><em class="fee_value">5</em></div>
                                    <!-- <div class="Compares_fee_icon_helper">USD</div> -->
                                </div>
                                <div class="Compares_fee_item_title"><%= __('SENDING FEE') %></div>
                                <div class="Compares_fee_item_helper">
                                    <%= __('Paid directly to the blockchain network') %></div>
                            </div>
                        </div>
                        <div class="Compares_slider Compares_slider--visible wow fadeInUp  animated"
                            data-wow-duration="1.6s"
                            style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                            <div class="slider">
                                <div class="slider_helper">
                                    <div class="slider_helper_title"><%= __('MINIMUM') %></div>
                                    <div class="slider_helper_value">
                                        <span class="cent">$</span>
                                        <span class="price">100.00</span>
                                    </div>
                                </div>
                                <!-- <span class="irs js-irs-0"><span class="irs"><span class="irs-line" tabindex="0"><span
                                                class="irs-line-left"></span><span class="irs-line-mid"></span><span
                                                class="irs-line-right"></span></span><span class="irs-min"
                                            style="visibility: hidden;">$100.00<span
                                                class="tooltip_name">TRANSACTION<span></span></span></span><span
                                            class="irs-max" style="visibility: visible;">$1,000.00<span
                                                class="tooltip_name">TRANSACTION<span></span></span></span><span
                                            class="irs-from" style="visibility: hidden;">0</span><span class="irs-to"
                                            style="visibility: hidden;">0</span><span class="irs-single"
                                            style="left: -10.714%;">$100.00<span
                                                class="tooltip_name">TRANSACTION<span></span></span></span></span><span
                                        class="irs-grid"></span><span class="irs-bar"
                                        style="left: 2.87174%; width: 0%;"></span><span
                                        class="irs-bar-edge"></span><span class="irs-shadow shadow-single"
                                        style="display: none;"></span><span class="irs-slider single"
                                        style="left: 0%;"></span></span>
                                <div id="slider" class="irs-hidden-input" tabindex="-1"></div> -->
                                <input type="range" min="100.00" // default 0 max="1000.00" horizontal value="10.00"
                                    id="slider">
                                <div id="selector">
                                    <div class="selectBtn"></div>
                                    <div id="selectValue"></div>
                                </div>
                                <div class="slider_helper">
                                    <div class="slider_helper_title"><%= __('MAXIMUM') %></div>
                                    <div class="slider_helper_value text"><%= __('No Limit') %></div>
                                </div>
                            </div>
                            <div class="Compares_card_wrap pt-4 pb-4">
                                <div class="Compares_card">
                                    <div class="Compares_card_inner">
                                        <div class="Compares_card_logo ">
                                            <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/pay_logo1.2e9.jpg"
                                                alt="">
                                        </div>
                                        <div class="Compares_card_text"><%= __('YOU PAY') %></div>
                                        <div class="Compares_card_price">
                                            <span>$</span><b class="price_num1">5.00</b></div>
                                        <div class="Compares__card__helper tc">5%</div>
                                    </div>
                                </div>
                                <div class="Compares_card">
                                    <div class="Compares_card_inner">
                                        <div class="Compares_card_logo ">
                                            <img src="//cdn.icaicloud.goboosoft.com/dizpay/landing_page/static/website/assets/images/pay_logo2.c8d.jpg"
                                                alt="">
                                        </div>
                                        <div class="Compares_card_text"><%= __('YOU PAY') %></div>
                                        <div class="Compares_card_price">
                                            <span>$</span><b class="price_num2">3.20</b></div>
                                        <div class="Compares__card__helper tc">3% + 30¢</div>
                                    </div>
                                </div>
                                <div class="Compares_card">
                                    <div class="Compares_card_inner">
                                        <div class="Compares_card_logo ">
                                            <img src="/images/vifa-square.png" alt="">
                                        </div>
                                        <div class="Compares_card_text"><%= __('YOU PAY') %></div>
                                        <div class="Compares_card_price">
                                            <span>$</span><b class="price_num3">1.00</b></div>
                                        <div class="Compares__card__helper tc">1%</div>
                                    </div>
                                    <div class="Compares_card_label">
                                        <%- __('We’re <span class="cheapernum">5</span>x Cheaper') %>!
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="sud ">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 181.1"
                style="enable-background:new 0 0 1920 181.1;" xml:space="preserve">
                <style type="text/css">
                    .st1 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #2c2e53;
                    }
                </style>
                <g>
                    <path class="st1" d="M0,80c0,0,28.9-4.2,43-13c14.3-9,71-35.7,137,5c17.3,7.7,33.3,13,48,11c17.3,0.3,50.3,4.7,66,23
                     c20.3,9.7,68,40.3,134-12c24-11,59-16.3,104,2c21,7.3,85,27.7,117-14c24-30.7,62.7-55,141-12c26,10.3,72,14.7,110-14
                     c37.7-19,89.7-29,122,53c23,32.7,47.7,66.3,97,26c24-22.7,51-78.3,137-38c0,0,28.3,15.7,52,15c23.7-0.7,50.7,4.3,76,41
                     c19.7,19.7,71,36.7,121-2c0,0,22.3-16,55-12c0,0,32.7,6.7,56-71c23.3-76,79-92,122-29c9.3,13.7,25,42,62,43c37,1,51.7,25.3,67,48
                     c15.3,22.7,51,22.7,53,23v28.1H0V80z"></path>
                </g>
            </svg>
        </div>


        <section class="join-area section1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="con">
                            <h2 class="question_txt wow fadeInUp  animated" data-wow-duration="1.0s"
                                style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                                <%= __('Become part of our ever growing community') %></h2>
                            <div class="text-center wow fadeInUp  animated" data-wow-duration="1.3s"
                                style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                                <a href="https://t.me/dizpay" target="_blank" class="btn1 big-btn"><i
                                        class="fa fa-paper-plane-o"></i><%= __('JOIN US ON TELEGRAM') %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <%- include ('./partials/footer') %>
</body>

</html>